<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>StackOverFlow-lite</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    </head>

    <body class="home">
    	<home-main>
    		<section class="header-row">
    			<div class="container">
	    			<div class="brand-logo">
	    				StackOverFlow-lite
	    			</div>

	    			<div class="search">
	    				<form>
	    					<input type="text" name="search" class="form-input small" placeholder="Search...">
	    				</form>
	    			</div>

	    			<div class="brand-links">
	    				<ul class="nav">
	    					<li>
	    						<a href="login.html">Login</a>
	    						<a href="signup.html">Signup</a>
	    					</li>
	    				</ul>
	    			</div>
	    			<div class="clear"></div>
	    		</div>
	    		<div class="clear"></div>
    		</section>

    		<div class="clear"></div>
    		<section class="main-content">
    			<div class="container">
    				<div class="side-bar-left">
	    				<ul class="left-nav">
	    					<li>
	    						<a href="index.html" class="active" >Home</a>
	    					</li>
	    				</ul>
	    				<div class="margin-30"></div>
	    				<label class="subheader">Public</label>

	    				<ul class="left-nav">
	    					<li>
	    						<a href="#">Tags</a>
	    						<a href="#">Users</a>
	    						<a href="#">Teams</a>
	    					</li>
	    				</ul>

	    				<div class="widget rounded">
    						<div class="widget-title rounded">
    							<span>Tags</span>
    						</div>
    						<div class="widget-content">
    							<a href="#" class="tag">javascript</a>
	    						<a href="#" class="tag">java</a>
								<a href="#" class="tag">python</a>
	    						<a href="#" class="tag">laravel</a>
	    						<a href="#" class="tag">php</a>
	    						<a href="#" class="tag">slim</a>
    						</div>
    						<div class="clear"></div>
    					</div>
    					<div class="clear"></div>
    					<div class="margin-10"></div>
    					<div class="divider"></div>
    					<div class="margin-30"></div>
    				</div>

    				<div class="question-content">
    					<div class="heading">
	    					<form>
	    						<div class="form-row">
	    							<label class="bold">Title</label>
	    							<input type="text" class="form-input" name="title" placeholder="What is your programming question?">
	    						</div>

	    						<div class="form-row">
	    							<label class="bold">Body</label>
	    							<textarea class="form-input" name="body" placeholder="Give thorough detail of your question" style="height: 120px"></textarea>
	    						</div>

	    						<div class="form-row">
	    							<label class="bold">Tags</label>
	    							<input type="text" class="form-input" name="tags" placeholder="At least one tag such as css html php python max 6 tags">
	    						</div>

	    						<div class="form-row">
	    							<button type="button" class="btn btn-green rounded">Post Your Question</button>
	    						</div>
	    					</form>
	    				</div>
    				</div> 

    				<div class="side-bar-right">
    					
    				</div>   				
    			</div>
	    		<div class="clear"></div>
	    		<div class="margin-30"></div>   
	    		<section class="footer">
	    			<div class="container">
	    				<label>&copy; StackOverFlow-lite 2018. All Rights Reserved</label>
	    			</div>
	    		</section>
    		</section>
    	</home-main>
    </body>

</html>