<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title>StackOverFlow-lite</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    </head>

    <body class="home">
            <home-main>
                <section class="header-row">
                    <div class="container">
                        <div class="brand-logo">
                            StackOverFlow-lite
                        </div>
    
                        <div class="search">
                            <form>
                                <input type="text" name="search" class="form-input small" placeholder="Search...">
                            </form>
                        </div>
    
                        <div class="brand-links">
                            <ul class="nav">
                                <li>
                                    <a href="login.html">Login</a>
                                    <a href="signup.html">Signup</a>
                                    <a href="my-questions.html">My Questions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </section>
    
                <div class="clear"></div>
                <section class="main-content">
                    <div class="container">
                        <div class="side-bar-left">
                            <ul class="left-nav">
                                <li>
                                    <a href="index.html" >Home</a>
                                </li>
                            </ul>
                            <div class="margin-30"></div>
                            <label class="subheader">Public</label>
    
                            <ul class="left-nav">
                                <li>
                                    <a href="#">Tags</a>
                                    <a href="#">Users</a>
                                    <a href="#">Teams</a>
                                    <a href="most-answered.html">Most answered</a>
                                </li>
                            </ul>
                            <div class="divider"></div>
                            <div class="margin-20"></div>
                            <div class="widget rounded">
                                <div class="widget-title rounded">
                                    <span>Tags</span>
                                </div>
                                <div class="widget-content">
                                    <a href="#" class="tag">javascript</a>
                                    <a href="#" class="tag">java</a>
                                    <a href="#" class="tag">python</a>
                                    <a href="#" class="tag">laravel</a>
                                    <a href="#" class="tag">php</a>
                                    <a href="#" class="tag">slim</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
    
                        <div class="question-content">
                            <div class="heading">
                                <h3 class="heading-25">Most answered</h3>
                                <a href="ask-question.html" class="btn btn-green float-right rounded">Ask Question</a>
                            </div>
                            <div class="divider"></div>
    
                            <div class="question-panel">
                                <div class="question-row">
                                    <div class="numbers">
                                        <div class="number-slot">
                                            <label>2</label>
                                            <label>votes</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>4</label>
                                            <label>answers</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>13</label>
                                            <label>views</label>
                                        </div>
                                    </div>
                                    <!-- this will only show on mobile -->
                                    <div class="divider on-mobile clear light"></div>
                                    <div class="question-summaries">
                                        <a href="answer.html" class="question">how to write a method using hibernate which returns boolean</a>
    
                                        <a href="#" class="tag">hibernate</a>
                                        <a href="#" class="tag">spring-mvc</a>
    
                                        <span class="float-right">answered 2 mins ago</span>
    
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="divider light"></div>
    
                                <div class="question-row">
                                    <div class="numbers">
                                        <div class="number-slot">
                                            <label>1</label>
                                            <label>votes</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>3</label>
                                            <label>answers</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>10</label>
                                            <label>views</label>
                                        </div>
                                    </div>
                                    <div class="divider on-mobile clear light"></div>
                                    <div class="question-summaries">
                                        <a href="answer.html" class="question">how to write a method using hibernate which returns boolean</a>
    
                                        <a href="#" class="tag">hibernate</a>
                                        <a href="#" class="tag">spring-mvc</a>
    
                                        <span class="float-right">answered 2 mins ago</span>
    
                                    </div>
    
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="divider light"></div>
    
                                <div class="question-row">
                                    <div class="numbers">
                                        <div class="number-slot">
                                            <label>1</label>
                                            <label>votes</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>2</label>
                                            <label>answers</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>5</label>
                                            <label>views</label>
                                        </div>
                                    </div>
                                    <div class="divider on-mobile clear light"></div>
                                    <div class="question-summaries">
                                        <a href="answer.html" class="question">how to write a method using hibernate which returns boolean</a>
    
                                        <a href="#" class="tag">hibernate</a>
                                        <a href="#" class="tag">spring-mvc</a>
    
                                        <span class="float-right">answered 2 mins ago</span>
    
                                    </div>
    
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                <div class="divider light"></div>
    
                                <div class="question-row">
                                    <div class="numbers">
                                        <div class="number-slot">
                                            <label>1</label>
                                            <label>votes</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>1</label>
                                            <label>answers</label>
                                        </div>
    
                                        <div class="number-slot">
                                            <label>6</label>
                                            <label>views</label>
                                        </div>
                                    </div>
                                    <div class="divider on-mobile clear light"></div>
                                    <div class="question-summaries">
                                        <a href="answer.html" class="question">how to write a method using hibernate which returns boolean</a>
    
                                        <a href="#" class="tag">hibernate</a>
                                        <a href="#" class="tag">spring-mvc</a>
    
                                        <span class="float-right">answered 2 mins ago</span>
    
                                    </div>
    
                                    <div class="clear"></div>
                                </div>
    
                                <div class="clear"></div>
                                <div class="divider light"></div>
                            </div>
                        </div> 
                          <div class="margin-30"></div>   
                    </div>
                    <div class="clear"></div>
                    <div class="margin-30"></div>   
                    <section class="footer">
                        <div class="container">
                            <label>&copy; StackOverFlow-lite 2018. All Rights Reserved</label>
                        </div>
                    </section>
                </section>
            </home-main>
        </body>
    </html>